<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/job-alert.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
        <div class="container">
            <a class="navbar-brand text-warning font-weight-bold" href="{% url 'home' %}">
                <img src="{% static 'img/job-alert.png' %}" alt="Logo" style="width:40px;">
                Portal
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'jobposts' %}">Jobs</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="#">Inbox</a>
                        <!-- Profile pic with drop down -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown_user_profile" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, {{ user.first_name }}!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbar_dropdown_user_profile">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <img class="rounded-circle" src="{{ user.profile.image.url }}" width="75"
                                         height="75" alt="Profile picture">
                                    View Profile
                                </a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div> <!-- A simple line -->
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<br><br>

<main role="main">
    {% block jumbotron %}{% endblock jumbotron %}

    <div class="container">
        <br>
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
            {# This block will have all website content #}
        {% endblock content %}
    </div>
</main>
<br>

<footer class="border-top footer text-muted">
    <div class="container pt-3">
        &copy; 2021 - JobLancer - <a href="#">Privacy</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>